extends layouts/main-page-layout

block content
  .col.d-flex.flex-column.p-3
    .row 
      .col-lg-8.offset-lg-2.col-xxl-6.offset-xxl-3
        form(method="post").row.justify-content-start.align-items-center.mb-3
          .col-12.mb-2
            textarea.form-control(rows="3" placeholder='Share your thoughts ...')
          .col-auto
            label#labelInputFile(for="inputFile" style={cursor: "pointer"})
              i.fs-5.bi-file-earmark-image
            input#inputFile.form-control(type='file' hidden)
          .col-auto.ms-auto
            button.btn.btn-primary Share
        #posts.flex-fill.pt-3
          each post in posts 
            .card.mb-3.mb-lg-4
              .card-header
                .row.align-items-center
                  .col-auto
                    img.rounded-circle.me-3(width='40px' src=`/avatars/${post.author_avatar}` alt='')
                  .col
                    .h5.m-0 #{post.author_first_name} #{author_second_name}
                    .text-muted @#{post.author_nickname}
              .card-body.pb-0
                .card-text.mb-3 #{post.text}
                hr.m-0
                .row.align-items-center
                  .col
                    .nav
                      button.post-like.nav-link.d-flex.align-items-center.p-2.p-sm-3 
                        i.fs-5.bi-heart.me-1
                        span.fs-5 #{post.likes_number}
                      button.comment-toggle.nav-link.d-flex.align-items-center.p-2.p-sm-3
                        i.fs-5.bi-chat-left-dots
                        span.d-none.d-sm-inline.ms-2 Comment
                  .col-auto
                    span #{new Date(Date.parse(post.creation_time)).getHours()}:#{new Date(Date.parse(post.creation_time)).getMinutes()}:#{new Date(Date.parse(post.creation_time)).getSeconds()} #{new Date(Date.parse(post.creation_time)).getDate()}-#{new Date(Date.parse(post.creation_time)).getMonth() + 1}-#{new Date(Date.parse(post.creation_time)).getFullYear()}
              .card-footer.d-none.p-3
                each comment in post.comments
                  .row.mb-3
                    .col-auto
                      img.rounded-circle.me-3(width='40px' src=`/avatars/${comment.author_avatar}` alt='')
                    .col.row
                      .col-12
                        span.h5.m-0 #{comment.author_first_name} #{comment.author_second_name}
                        span.text-muted @#{comment.author_nickname}
                      .col-12
                        div #{comment.text}
                    .col-auto   
                      button.btn.btn-close
                    .w-100 
                    .col-auto
                      img.rounded-circle.opacity-0(width='40px' src=`/avatars/${comment.author_avatar}` alt='')
                    .col
                      .nav
                        button.nav-link.d-flex.align-items-center.p-2.p-sm-3
                          i.fs-5.bi-heart.me-1
                          span.fs-5 2
                    .col-auto.align-content-center
                        span #{new Date(Date.parse(comment.creation_time)).getHours()}:#{new Date(Date.parse(comment.creation_time)).getMinutes()}:#{new Date(Date.parse(comment.creation_time)).getSeconds()} #{new Date(Date.parse(comment.creation_time)).getDate()}-#{new Date(Date.parse(comment.creation_time)).getMonth() + 1}-#{new Date(Date.parse(comment.creation_time)).getFullYear()}
                .row
                  .col-auto   
                    img.rounded-circle(src='https://i.imgur.com/RpzrMR2.jpg' width='40')
                  .col.row 
                    .col-12.mb-1
                      textarea.form-control
                    .col-12
                      .mt-2.text-right
                        button.btn.btn-sm.btn-primary.me-3 Post comment
  script(src="/scripts/home.js" type="module")